.Button {
  height: 30px;
  min-width: 60px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  outline: none;
  padding: 4px 15px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out,
    border-bottom 200ms ease-in-out;
  vertical-align: middle;
  background-color: var(--color-button-bg);
  color: var(--color-section-bg);
  box-shadow: 0 2px var(--color-button-bg--dark);
}

.Button:last-of-type {
  margin-right: 0;
}

.Button.is-disabled,
.Button.is-disabled:hover {
  cursor: not-allowed;
  opacity: 0.5;
}

.Button:not(.is-disabled):hover,
.Button:not(.is-disabled):focus {
  background-color: var(--color-button-bg--dark);
  box-shadow: 0 2px var(--color-button-bg--darker);
}

.Button:not(.is-disabled):active {
  background-color: var(--color-button-bg--darker);
  box-shadow: 0 1px var(--color-button-bg--darkest);
  transform: translateY(1px);
}
