.Toolbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  list-style: none;
  padding-left: 0;
}

.Toolbar-logo {
  max-height: 50px;
}

.Toolbar:before,
.Toolbar:after {
  content: "";
  background-color: white;
  position: absolute;
  height: 100%;
  display: block;
  width: 100%;
  top: 0;
}

.Toolbar:before {
  left: -100%;
}

.Toolbar:after {
  left: 100%;
}
