.App-toolbar {
  grid-area: toolbar;
}
.App-profile {
  grid-area: profile;
}
.App-list {
  grid-area: list;
}
.App-details {
  grid-area: details;
}
.App-ads {
  grid-area: ads;
}
.App-footer {
  grid-area: footer;
}

.App {
  display: grid;
  grid-template-areas: "toolbar" "list" "profile" "ads" "footer";
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0 1rem;
  max-width: 1000px;
  font-size: 1.4rem;
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-areas: "toolbar toolbar" "profile list" "ads     list" "footer  list";
    grid-template-columns: minmax(200px, 1fr) 2fr;
    /* grid-template-rows: auto . 225px auto; */
  }
}

@media only screen and (min-width: 800px) {
  .App {
    grid-template-areas: "toolbar toolbar toolbar" "profile list    ads" ".       list    footer"
      ".       list    ." ".       list    .";
    grid-template-columns: minmax(200px, 1fr) 2fr 1fr;
    /* grid-template-rows: auto auto 225px auto; */
  }
}

@media only screen and (min-width: 1000px) {
  .App {
    margin: auto;
  }
}
